.flex_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 28px;
}

.flex_box {
  width: 256px;
}

@media (max-width: 800px) {
  .flex_container {
    flex-direction: column;
  }
  .flex_box {
    width: 100%;
  }
}
